/* *********************************
*    Generic FlexBox Styling      *
**********************************/
.flexContainer {
    display: flex;
  }
  .flexItem {
    flex: 1;
  }
  .flexStart {
    justify-content: flex-start;
  }
  .flexCenter {
    justify-content: center;
  }
  .flexEnd {
    justify-content: flex-end;
  }
  .flexWrap {
    flex-wrap: wrap;
  }
  .itemCenter {
    align-items: center;
  }

  .itemTop {
    align-items: flex-start;
  }

.itemBottom {
    align-items: flex-end;
}

  .flexColumn {
    flex-direction: column;
  }
  .flexSpaceBetween {
    justify-content: space-between;
  }
  .flexSpaceAround {
    justify-content: space-around;
  }
  
  

  