* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1em;
  line-height: 1.428em;
  color: #1e1e1e;   
}


/* *********************************
*    Generic FlexBox Styling      *
**********************************/
.flexContainer {
  display: flex;
}
.flexItem {
  flex: 1;
}
.flexStart {
  justify-content: flex-start;
}
.flexCenter {
  justify-content: center;
}
.flexEnd {
  justify-content: flex-end;
}
.flexWrap {
  flex-wrap: wrap;
}
.itemCenter {
  align-items: center;
}
.flexColumn {
  flex-direction: column;
}
.flexSpaceBetween {
  justify-content: space-between;
}
.flexSpaceAround {
  justify-content: space-around;
}

/* *********************************
*    Shared Styling               *
**********************************/
.fullHeight {
  min-height: 100vh;
}
.blueBackground {
  background: lightskyblue;
}

.whiteText {
  color: white;
}
.height50 {
  height: 30px;
  line-height: 30px;
}

.highlight {
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, rgb(255, 203, 167) 50%);
}


.marginTop {
  margin-top: 50px;
}
.marginBottom {
  margin-bottom: 25px;
}

/* *********************************
*    Navigation                   *
**********************************/
.nav {
  list-style: none;
}
.nav a {
  text-decoration: none;
  display: block;
  padding: 0 1em;
  color: white;
}

/* *********************************
*    Input and Output           *
**********************************/

.menuTitle {
  flex-basis: 40px;
  flex-shrink: 1;
  /* margin: 5px; */
  padding-left: 5px;
}

.babyInput { 
  margin: 5px;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
}

.babyOutput {
  margin: 5px;
  border-radius: 10px;
}


/* *********************************
*    Responsive Website           *
**********************************/
.main{
  order: 2;
  padding: 10px;
  background-color: #0831fb00;
}

.sidebar {
  width: 20%;
  padding: 15px;
  background-color: #7c9acc;
}

.sidebarLeft{
  order: 1;
  color: white;
}
